/* Alap margók és paddingok törlése */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Általános szöveg formázás */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9; /* Világos háttér */
    color: #333;
    line-height: 1.6;
}

/* Fejléc formázás */
header {
    background-color: #006699;
    color: white;
    padding: 20px 0;
    text-align: center;
}

header h1 {
    font-size: 2.5rem;
}

/* Navigációs sáv */
.navbar {
    background-color: #333;
}

.navbar a {
    color: white;
    padding: 10px 20px;
    text-decoration: none;
}

.navbar a:hover {
    background-color: #ddd;
    color: black;
}

/* Szekciók */
section {
    padding: 40px 20px;
    margin-bottom: 20px;
}

section h2 {
    font-size: 2rem;
    margin-bottom: 10px;
}

section p {
    font-size: 1.1rem;
    margin-bottom: 10px;
}

/* Ajánlások szekció formázása */
#ajanlasok {
    background-color: #e9ecef;
    border-radius: 10px;
    padding: 20px;
}

#ajanlasok ul {
    list-style: none;
    padding-left: 20px;
}

#ajanlasok li {
    margin-bottom: 10px;
}

/* Footer formázás */
footer {
    background-color: #006699;
    color: white;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    bottom: 0;
    width: 100%;
}

#stressz {
    padding: 30px 0;  /* Függőleges padding a sectionhez */
    background-color: #f4f4f4;  /* Világos háttér szín */
    margin-top: 20px;
    text-align: center;  /* A szöveg középre igazítása */
    width: 100%;  /* 100%-os szélesség */
}

#stressz h2 {
    font-size: 2rem;
    margin-bottom: 20px;
    padding-left: 20px; /* Pár pixelnyi hely a bal oldalon */
}






